.shoes {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}
.shoes__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shoes__container--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #f4f4f7;
}
.shoes-info__description {
  font-size: 20px;
  color: gray;
}
.shoes__container--date {
  display: flex;
  color: #fc6dab;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.shoes__container > ul {
  text-align: center;
}
.shoes__container h1 {
  font-size: 50px;
  margin: 10px;
}
.shoes__container h2 {
  font-size: 30px;
  margin: 10px;
}
.shoes__reference {
  display: grid;
}
.shoes__container--image {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #e4e4e4;
}
.shoes__container--id {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
  background: #e4e4e4;
  border-radius: 100px;
  padding: 10px;
}
